{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wi-Fi Connection</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style-wifiscreen.css' %}">

</head>
<body>
    <a  href="{% url 'setting' %}">
        <button type="button" id="back">Back</button>
    </a>
    <div class="wifi-container">
        <h1>UUID token</h1>
        <p>UUID: {{ uuid }}</p>
    </div>
</body>
</html>
